Repository mshafei721/Shorty.ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eng-lead, @qa-lead, @backend-integrator, @fe-lead, @fe-dev-2, @designer, @pm

docs(A0): architecture adapters & circuit breakers [A0]
  docs/architecture/adapters.md
  src/config/circuit-breakers.ts
Owners: @eng-lead, @pm, @backend-integrator, @qa-lead

Add local Claude settings and .gitignore
  .claude/settings.local.json
  .gitignore
Owners: @eng-lead, @qa-lead

feat(A1): init expo project with nav & storage [A1]
  .eslintrc.js
  .gitignore
  App.tsx
  app.json
  assets/.gitkeep
  babel.config.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/navigation/MainStack.tsx
  src/navigation/OnboardingStack.tsx
  src/navigation/RootNavigator.tsx
  src/navigation/types.ts
  src/screens/NicheSelectionScreen.tsx
  src/screens/ProjectDashboardScreen.tsx
  src/screens/ProjectsListScreen.tsx
  src/screens/SplashScreen.tsx
  src/screens/SubNicheConfirmationScreen.tsx
  src/storage/__tests__/storage.test.ts
  src/storage/index.ts
  src/storage/schema.ts
  src/types/index.ts
  tsconfig.json
Owners: @eng-lead, @qa-lead, @fe-lead, @fe-dev-2

Add Claude local settings and update coverage reports
  .claude/settings.local.json
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
Owners: @eng-lead, @qa-lead

Merge configuration and dependency updates
  .claude/settings.local.json
  .eslintrc.js
  app.json
  package.json
  src/storage/index.ts
  tsconfig.json
Owners: @eng-lead, @qa-lead, @fe-dev-2

Merge configuration and dependency updates
  .claude/settings.local.json
  .eslintrc.js
  app.json
  package.json
  src/storage/index.ts
  tsconfig.json
Owners: @eng-lead, @qa-lead, @fe-dev-2

.github/CODEOWNERS:

# Shorty.ai Code Owners
# All PRs require approval from ENG-LEAD + QA

# Default owners for all files
* @eng-lead @qa-lead

# Architecture & adapters (additional review by Backend Integrator)
/src/adapters/** @eng-lead @backend-integrator @qa-lead
/src/config/** @eng-lead @backend-integrator @qa-lead

# Frontend (additional review by FE Lead)
/src/screens/** @fe-lead @qa-lead
/src/components/** @fe-lead @qa-lead

# Storage & data (additional review by FE Dev 2)
/src/storage/** @fe-dev-2 @eng-lead @qa-lead

# Design system (additional review by Designer)
/src/design-system/** @designer @fe-lead @qa-lead

# CI/CD & workflows
/.github/** @eng-lead @qa-lead

# Documentation
/docs/** @eng-lead @pm

# Orchestrator (Orchestrator Agent only)
/.orchestrator/** @eng-lead
